<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.homepage">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HomePage">
        <activity
            android:name=".MainActivityOrderCupcakes"
            android:exported="false" />
        <activity
            android:name=".MainActivityDeleteCupcakes2"
            android:exported="false"
            android:label="@string/title_activity_main_delete_cupcakes2"
            android:theme="@style/Theme.HomePage.NoActionBar" />
        <activity
            android:name=".MainActivityRemove2"
            android:exported="false" />
        <activity
            android:name=".MainActivityAdd2"
            android:exported="false" />
        <activity
            android:name=".OrderCupcakes"
            android:exported="false" />
        <activity
            android:name=".ViewCupcakes"
            android:exported="false" />
        <activity
            android:name=".MemberPanel"
            android:exported="false" />
        <activity
            android:name=".MainActivityProcessOrders2"
            android:exported="false" />
        <activity
            android:name=".MainActivityViewOrders2"
            android:exported="false" />
        <activity
            android:name=".MainActivityManageCupcakes2"
            android:exported="false" />
        <activity
            android:name=".MainActivityCreateCupcakes2"
            android:exported="false" />
        <activity
            android:name=".MainActivityCatogary2"
            android:exported="false" />
        <activity
            android:name=".MainActivityMember"
            android:exported="false" />
        <activity
            android:name=".MainActivityLogin3"
            android:exported="false" />
        <activity
            android:name=".AdminPanel"
            android:exported="false" />
        <activity
            android:name=".Syccuss"
            android:exported="false" />
        <activity
            android:name=".MainActivity3Registration"
            android:exported="false" />
        <activity
            android:name=".MainActivity2Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>